body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #5e5ebb;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
}

.lead {
  color: #7c93ff;
  font-size: 0.8rem;
  margin-bottom: 0;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.event-text {
  background-color: rgba(255, 255, 255, 0.8);
  resize: none;
  margin: 0.25rem 0;
  border: 1px solid white;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 1px solid #5e5ebb;
  border-top: 5px solid #5e5ebb;
}

.scheduler-jumbotron {
  background-color: rgba(135, 206, 235, 0.15);
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

.now {
  display: flex;
  font-size: 2rem;
  text-align: center;
  margin: 2rem 0;
  justify-content: center;
}

#currentDay {
  color: #5e5ebb;
}

#currentTime {
  color: #8c90a3;
  color: rgba(135, 206, 235, 1);
  margin-left: 1.5rem;
}

.description {
  white-space: pre-wrap;
}

.container {
  margin-bottom: 2rem;
}

.time-block {
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  align-items: center;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: rgba(211, 211, 211, 0.2);
  border: 1px solid rgba(211, 211, 211, 0.5);
}

.present {
  background-color: rgba(255, 105, 97, 0.5);
  border: 2px solid rgba(255, 105, 97, 0.6);
}

.future {
  background-color: rgba(119, 221, 119, 0.2);
  border: 1px solid rgba(119, 221, 119, 0.5);
}

.col {
  display: flex;
  justify-content: center;
}

.time {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.time span {
  color: #5e5ebb;
  border-bottom:  1px dashed #5e5ebb;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0;
}

.save-btn {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.75rem 2.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #5e5ebb;
  border: #7c93ff;
  color: white;
  width: 100%;
}

.save-btn .button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 2px;
}

.save-btn .button-content span {
  border-bottom: 1px dashed transparent;
}

.save-btn:hover {
  color: white;
}

.save-btn:hover .button-content span {
  border-bottom: 1px dashed white;
}

.save-btn i {
  padding-left: 0.25rem;
}

@media(max-width: 768px) {
  .scheduler-jumbotron {
    padding-bottom: 2.5rem;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  .now {
    flex-direction: column;
  }

  #currentTime {
    margin-top: 1rem;
  }

  .time {
    margin: 0.5rem 0 1rem 0;
  }

  .event-text {
    min-height: 100px;
  }

  .save-btn {
    margin: 1rem 0;
  }

  .save-btn .button-content {
    flex-direction: row;
  }

  .save-btn .button-content span {
    padding-left: 1rem;
  }
}
